* {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.head-band {
    width: 100%;
    top: 0;
    left: 0;
    height: 44px;
    line-height: 44px;
    background: #fff;
}

.head-inline {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    background: #e2e2e2;
    overflow: hidden;
    padding: 20px 0 20px 0;
    min-width: 960px;
}

.content {
    width: 960px;
    position: relative;
    overflow: hidden;
    left: 50%;
    margin-left: -480px;
    min-height: 1000px;
}

.content-left {
    float: left;
    width: 630px;
}

.article {
    background: #fff;
    padding: 10px;
}

.content-right {
    float: right;
    width: 300px;
}

.footer {
    width: 100%;
    background: #fff;
}

/**/

.logo {
    float: left;
}

.search-div {
    float: left;
    left: 75px;
    position: relative;
    border-radius: 16px;
    width: 214px;
    height: 30px;
    top: 8px;
    border: 1px solid #e2e2e2;
}

.search-div img {
    position: relative;
    top: -1px;
    left: 7px;
}

.search-div input {
    position: relative;
    top: -8px;
    right: -5px;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: gray;
}

.nav-action a {
    color: black;
    display: inline-block;
}

.nav-action {
    float: right;
}

.nav-action a:hover {
    color: gray;
}

.hidden {
    display: none;
}

.content-nav-top {
    height: 34px;
    border-bottom: 1px solid #e2e2e2;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f9f9f9;
}

.content-nav-top a {
    float: left;
    display: inline-block;
    /*width: 45px;*/
    margin-left: 20px;
    color: black;
    font-size: 12px;
}

.content-nav-top a:hover {
    color: gray;
    cursor: pointer;
}

/**/
.cell {
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.fr {
    float: right;
}

.sep3 {
    height: 3px;
}

.sep5 {
    height: 5px;
}

.cell a {
    color: #778087;
}

.fr > a {
    margin-top: 7px;
    display: block;
    border-radius: 5px;
    background: #778087;
    color: white;
}

.page {

}

.bp > a {
    color: black;
}

.lp > a {
    color: black;
}

.bp:hover {
    background: #e2e2e2;
}

.lp:hover {
    background: #e2e2e2;
}

/**/
.left-basic {
    background: #fff;
    padding: 10px;
}

.basic-info {
    overflow: hidden;
}

.basic-info > img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 18px;
}

.basic-info > div {
    float: left;
}

.show-login {
    font-size: 14px;
    text-align: center;
    background: #fff;
    min-height: 43px;
    line-height: 43px;
}

.show-login a {
    color: green;
}

.git-login {
    border: none;
    outline: none;
    background: white;
    color: green;
}

#name {
    position: relative;
    top: 18px;
}

#gender {
    position: relative;
    top: 28px;
}

#company {
    position: relative;
    top: 38px;
}

.git-addr {
    position: relative;
    top: 10px;
}

.github a {
    color: #e2e2e2;
    position: relative;
    top: -6px;
}

.wealth {
    position: relative;
    top: 10px;
    padding: 10px;
}

.wealth-click {
    float: left;
    width: 30%;
    height: 50px;
}

.wealth-comment {
    float: left;
    width: 30%;
    height: 50px;
}

.wealth-fav {
    float: left;
    width: 30%;
    height: 50px;

}

.basic-btn {
    width: 120px;
    outline: none;
    border: none;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    font-size: 17px;
    background: white;
}

.basic-btn:hover {
    color: #778087;
}

#jf {
    color: gray;
}

.tep1 {
    margin-top: 10px;
}

.tep3 {
    top: 20px;
    position: relative;
}

.tep4 {
    top: 40px;
    position: relative;
}

.tep5 {
    top: 60px;
    position: relative;
}

.tep6 {
    top: 80px;
    position: relative;
    padding: 0;
}

.hot {
    position: relative;
    left: 101px;
}

.hot-list li {
    height: 30px;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    line-height: 30px;
    font-size: 14px;
}

.hot-list li a {
    color: #778087;
}

.comp {
    position: relative;
    left: 88px;
}

.article-title {
    border-bottom: 1px solid #778087;
    text-align: center;
    height: 66px;
    padding-bottom: 10px;
}

.article-title > h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin: 0 0 10px;
    padding: 0;
    overflow: hidden;
}

.article-info span {
    color: #778087;
    font-size: 12px;
    float: left;
}

.article-info span:last-child, .article-info span:nth-last-child(2) {
    float: right;
    width: 64px;
    color: #778087;
    position: relative;
    top: -7px;
    cursor: pointer;
}

.article-info span img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    left: -5px;
}

.article-body{
    padding-top:10px;
}

.comment {
    margin-top: 10px;
    background: #fff;

}

.reply-comment {
    margin-top: 10px;
    background: #fff;
}

.CodeMirror {
    height: 100px !important;
}

.comment-table {
    width: 100%;
}

.comment-table-td {
    width: 50px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.comment-info {
    /*border-bottom:1px solid #e2e2e2;*/
}

.comment-reply {
    float: right;
    display: block;

}

.comment-reply:hover {
    cursor: pointer;
}

.reply-comment-content {
    word-break: break-all;
    word-wrap: break-word;
}

.header {
    background: #f6f6f6;
    height: 33px;
    line-height: 33px;
    padding-left: 10px;
    font-size: 13px;
}

.reply-btn button {
    width: 82px;
    height: 36px;
    background: #f44336;
    border: 1px solid #f44336;
    outline: none;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.comment-span {
    color: #ccc;
    font-size: 13px;
}

.comment-info span:first-child {
    color: gray;
    font-size: 13px;
}

.comment-info span:nth-child(4):hover {
    color: gray;
    cursor: pointer;
}

.list-more {
    margin-top: 10px;
    background: #fff;
    text-align: center;
    font-size: 13px;
    color: #e2e2e2;
}

.list-more:hover {
    color: black;
    cursor: pointer;
}

.footer p {
    text-align: center;
    padding: 20px 0 20px 0;
}

.footer p a {
    text-decoration: none;
    color: green;
}

.markdown-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word
}

.markdown-body::before {
    display: table;
    content: ""
}

.markdown-body::after {
    display: table;
    clear: both;
    content: ""
}

.markdown-body > *:first-child {
    margin-top: 0 !important
}

.markdown-body > *:last-child {
    margin-bottom: 0 !important
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none
}

.markdown-body .absent {
    color: #cb2431
}

.markdown-body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1
}

.markdown-body .anchor:focus {
    outline: none
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
    margin-top: 0;
    margin-bottom: 14px
}

.markdown-body hr {
    height: 0.25em;
    padding: 0;
    border: 0
}

.markdown-body blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5
}

.markdown-body blockquote > :first-child {
    margin-top: 0
}

.markdown-body blockquote > :last-child {
    margin-bottom: 0
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: 14px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25
}

.markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link, .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link, .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden
}

.markdown-body h1:hover .anchor, .markdown-body h2:hover .anchor, .markdown-body h3:hover .anchor, .markdown-body h4:hover .anchor, .markdown-body h5:hover .anchor, .markdown-body h6:hover .anchor {
    text-decoration: none
}

.markdown-body h1:hover .anchor .octicon-link, .markdown-body h2:hover .anchor .octicon-link, .markdown-body h3:hover .anchor .octicon-link, .markdown-body h4:hover .anchor .octicon-link, .markdown-body h5:hover .anchor .octicon-link, .markdown-body h6:hover .anchor .octicon-link {
    visibility: visible
}

.markdown-body h1 tt, .markdown-body h1 code, .markdown-body h2 tt, .markdown-body h2 code, .markdown-body h3 tt, .markdown-body h3 code, .markdown-body h4 tt, .markdown-body h4 code, .markdown-body h5 tt, .markdown-body h5 code, .markdown-body h6 tt, .markdown-body h6 code {
    font-size: inherit
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 1em;
}

.markdown-body h2 {
    padding-bottom: 0.3em;
    font-size: 0.8em;
}

.markdown-body h3 {
    font-size: 0.6em
}

.markdown-body h4 {
    font-size: 0.4em
}

.markdown-body h5 {
    font-size: 0.2em
}

.markdown-body h6 {
    font-size: 0.1em;
    color: #6a737d
}

.markdown-body ul, .markdown-body ol {
    padding-left: 2em
}

.markdown-body ul.no-list, .markdown-body ol.no-list {
    padding: 0;
    list-style-type: none
}

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0
}

.markdown-body li > p {
    margin-top: 16px
}

.markdown-body li + li {
    margin-top: 0.25em
}

.markdown-body dl {
    padding: 0
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto
}

.markdown-body table th {
    font-weight: 600
}

.markdown-body table th, .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f6f8fa
}

.markdown-body table img {
    background-color: transparent
}

.markdown-body img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff
}

.markdown-body img[align=right] {
    padding-left: 20px
}

.markdown-body img[align=left] {
    padding-right: 20px
}

.markdown-body .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent
}

.markdown-body span.frame {
    display: block;
    overflow: hidden
}

.markdown-body span.frame > span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #dfe2e5
}

.markdown-body span.frame span img {
    display: block;
    float: left
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #24292e
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-center > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.markdown-body span.align-right > span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden
}

.markdown-body span.float-left span {
    margin: 13px 0 0
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden
}

.markdown-body span.float-right > span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right
}

.markdown-body code, .markdown-body tt {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px
}

.markdown-body code::before, .markdown-body code::after, .markdown-body tt::before, .markdown-body tt::after {
    letter-spacing: -0.2em;
    content: "\00a0"
}

.markdown-body code br, .markdown-body tt br {
    display: none
}

.markdown-body del code {
    text-decoration: inherit
}

.markdown-body pre {
    word-wrap: normal
}

.markdown-body pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0
}

.markdown-body .highlight {
    margin-bottom: 16px
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}

.markdown-body .highlight pre, .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px
}

.markdown-body pre code, .markdown-body pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.markdown-body pre code::before, .markdown-body pre code::after, .markdown-body pre tt::before, .markdown-body pre tt::after {
    content: normal
}

.markdown-body .csv-data td, .markdown-body .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap
}

.markdown-body .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #fff;
    border: 0
}

.markdown-body .csv-data tr {
    border-top: 0
}

.markdown-body .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0
}
