<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Github绑定</title>
    <link rel="stylesheet" href="../static/css/git-bind.css">

</head>
<body>


<div class="head-band">
    <div class="head-inline">
        <a class="logo" href="/">GitShare</a>

        <form action="https://www.google.com" onsubmit="return dispatch()" class="search-div">
            <img src="../static/public/img/search.png" alt="搜索">
            <input type="text" id="search-keyword">

        </form>

        <div id="login-nav" class="nav-action">
            <a href="/signin">登录</a>
            <a href="/signup">注册</a>
        </div>
        <div id="userinfo-nav" class="nav-action">
            <a href="/message">通知</a>
            <a id="userinfo" href="/settings"></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="content">
        <div class="content-left">
            <div class="form-data">
                <div class="basic-form">
                    还差最后一步！
                </div>
                <div class="basic-form">
                    <label for="email">邮箱：</label>
                    <input type="email" class="basic-input" id="email">
                    <button class="email-btn" onclick="sendMail()">发送</button>
                    <span id="email-warn" class="warning"></span>
                </div>
                <div class="basic-form">
                    <label for="nickname">昵称：</label>
                    <input type="text" class="basic-input" id="nickname">
                    <span id="nickname-warn" class="warning"></span>
                </div>
                <div class="basic-form">
                    <label for="pwd">密码：</label>
                    <input type="password" class="basic-input" id="pwd">
                    <span id="pwd-warn" class="warning"></span>
                </div>
                <div class="basic-form">
                    <label for="code">邮件验证码：</label>
                    <input type="text" class="basic-input" id="code">
                </div>
                <div class="basic-form">
                    <!--引入极限验证-->
                    <div class="geetest_radar_tip"></div>
                    <p id="notice" class="hidden warning">请先拖动验证码到相应位置</p>
                </div>
                <div>
                    <button id="signup" class="signup-btn">立即登录</button>
                    <span id="login-warn" class="warning"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="footer">
    <p>
        Copyright © 2017 <a href="http://www.git-share.com">GitShare-分享您的Git项目</a>. All rights reserved.
        <br>
        Powered by <a href="http://www.git-share.com">git-share.com.</a>
    </p>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://static.geetest.com/static/tools/gt.js"></script>
<script src="../static/js/git-bind.js"></script>

</body>
</html>