<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitShare</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<div class="head-band">
    <div class="head-inline">
        <a class="logo" href="/">GitShare</a>

        <form action="https://www.google.com" onsubmit="return dispatch()" class="search-div">
            <img src="../static/public/img/search.png" alt="搜索">
            <input type="text" id="search-keyword">
        </form>

        <div id="login-nav" class="nav-action">
            <a href="/signin">登录</a>
            <a href="/signup">注册</a>
        </div>
        <div id="userinfo-nav" class="nav-action">
            <a href="/message">通知</a>
            <a id="userinfo" href="/settings"></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <div class="content-left">
            <div id="node" class="content-nav-top">
                <a id="recommend" onclick="recommend()">推荐</a>
            </div>
            <div class="content-nav-top">
                <a data-id="-click" onclick="orderBy(this)">点击数</a>
                <a data-id="-comment" onclick="orderBy(this)">回复数</a>
                <a data-id="-favorite" onclick="orderBy(this)">收藏数</a>
                <a data-id="-like" onclick="orderBy(this)">点赞数</a>


                <a onclick="showFeedback()">反馈</a>
            </div>
            <div id="article-list">

            </div>

            <div class="page">
                <div onclick="prevPage()" class="bp"><a href="javascript:;">< Previous Post</a></div>
                <div onclick="nextPage()" class="lp"><a href="javascript:;">Next Post ></a></div>
            </div>
        </div>
        <div class="content-right">
            <div id="user-basic-info" class="left-basic">

                <div class="basic-info">
                    <img src="" alt="">
                    <div>
                        <div class="name" id="name"></div>
                    </div>
                </div>
                <div style="padding:10px;">
                    <div>
                        <span class="github" id="github">
                            <svg aria-hidden="true" class="octicon octicon-mark-github" height="20" version="1.1"
                                 viewBox="0 0 16 16" width="20"><path fill-rule="evenodd"
                                                                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                        </span>
                    </div>
                    <!--
                    <div class="jifen">
                        个人财富: <span id="jf">123321</span>
                    </div>
                    -->
                </div>
            </div>
            <div id="show-login" class="show-login hidden">
                你可以选择:<a href="/signin">登录</a>或<a href="/signup">注册</a>
                <div>
                    <button onclick="bindGit()" class="git-login">通过Github登录</button>
                </div>
            </div>
            <!--
            <div id="reward" class="left-basic tep3">
                <button class="basic-btn" onclick="">领取今日奖励</button>
            </div>
            -->
            <div id="git-pub" class="left-basic tep3">
                <button class="basic-btn" onclick="linkPub()">发布话题</button>
            </div>
            <div class="left-basic tep4">
                <div class="hot">热议项目</div>
                <ul class="hot-list">
                </ul>
            </div>
            <div class="left-basic tep6">
                <div class="hot">友情社区</div>
                <ul class="friendly">
                    <li>
                        <a href="http://golangtc.com/" target="_blank">
                            <img src="http://77fkk5.com1.z0.glb.clouddn.com/logo/golangtc.png?imageView2/2/h/60/q/100">
                        </a>
                    </li>
                    <li>
                        <a href="https://v2mm.tech/" target="_blank">
                            <img alt="V2MM"
                                 src="https://v2mm-upload.b0.upaiyun.com/images/43313a23-44ab-4884-a5e6-8cad81cbdde8.png">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.python88.com" target="_blank">
                            <img src="http://www.python88.com/static/image/logo/python88.png" title="">
                        </a>
                    </li>
                    <li>
                        <a href="https://ruby-china.org/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/ruby-china-20150529.png">
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="footer">
    <p>
        Copyright © 2017 <a href="http://www.git-share.com">GitShare-分享您的Git项目</a>. All rights reserved.
        <br>
        Powered by <a href="http://www.git-share.com">git-share.com.</a>
    </p>
</div>
<div class="cover"></div>
<div class="window">
    <textarea id="feedback" cols="30" rows="10"></textarea>
    <button onclick="feedback()" class="feedback-btn">提交</button>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/index.js"></script>

</body>
</html>