<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>设置中心</title>
    <link rel="stylesheet" href="../static/css/settings.css">

</head>
<body>

<div class="head-band">
    <div class="head-inline">
        <a class="logo" href="/">GitShare</a>

        <form action="https://www.google.com" onsubmit="return dispatch()" class="search-div">
            <img src="../static/public/img/search.png" alt="搜索">
            <input type="text" id="search-keyword">

        </form>

        <div id="login-nav" class="nav-action">
            <a href="/signin">登录</a>
            <a href="/signup">注册</a>
        </div>
        <div id="userinfo-nav" class="nav-action">
            <a href="/message">通知</a>
            <a id="userinfo" href="/settings"></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        <div class="content-left">
            <div class="user-settings">
                <div class="basic-form">
                    <label for="nickname">昵称:</label>
                    <input type="text" id="nickname" class="basic-input">
                </div>
                <div class="basic-form">
                    <label for="git">Github:</label>
                    <input type="text" id="git" class="basic-input">
                </div>

                <div class="basic-form">
                    <label for="fp">公开收藏:</label>
                    <div id="div1" class="open1">
                        <div id="div2" class="open2"></div>
                    </div>
                </div>
                <div class="basic-form">
                    <label class="avatar-bq" for="avatar">头像:</label>
                    <a onclick="prevAvatar()" class="avatar-bq avatar-a" href="javascript:;"><</a>
                    <img id="avatar" data-id="0" src="../static/public/avatar/0.png" alt="">
                    <a onclick="nextAvatar()" class="avatar-bq avatar-a" href="javascript:;">></a>
                </div>
                <button onclick="modifySettings()" class="user-btn">提交</button>
            </div>
            <div class="user-settings tep3">
                <div class="basic-form">
                    <label for="cur-pwd">当前密码:</label>
                    <input type="password" id="cur-pwd" class="basic-input">
                </div>
                <div class="basic-form">
                    <label for="pwd">新密码:</label>
                    <input type="password" id="pwd" class="basic-input">
                    <span id="pwd-warn" class="warning"></span>
                </div>
                <button onclick="modifyPwd()" class="user-btn">提交</button>
            </div>
            <div class="user-settings tep5">
                <div id="git-bind" class="basic-form hidden">
                    <button onclick="bindGit()" class="git-bind-btn">绑定github</button>
                </div>

            </div>


        </div>
        <div class="content-right">
            <div class="left-basic">
                <div class="basic-info">
                    <img src="" alt="">
                    <div>
                        <div id="name"></div>
                        <!--
                        <div id="gender">女</div>
                        <div id="company">company</div>
                        -->
                    </div>
                </div>
                <div style="padding:10px;">
                    <div>
                        <span class="github" id="github">
                            <svg aria-hidden="true" class="octicon octicon-mark-github" height="20" version="1.1"
                                 viewBox="0 0 16 16" width="20"><path fill-rule="evenodd"
                                                                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                        </span>
                    </div>
                    <!--
                    <div class="jifen">
                        个人财富: <span id="jf">123321</span>
                    </div>
                    -->
                </div>
            </div>
            <!--
            <div class="left-basic tep3">
                <button class="basic-btn" onclick="">领取今日奖励</button>
            </div>
            -->
            <div class="left-basic tep3">
                <button class="basic-btn" onclick="linkPub()">发布话题</button>
            </div>
            <div class="left-basic tep4">

            </div>
            <!--
            <div class="left-basic tep5">
                <span class="hot">热议项目</span>
                <ul class="hot-list">

                </ul>

            </div>

            <div class="left-basic tep6">
                <span class="comp">编程挑战排行榜</span>
                <ul>
                </ul>
            </div>
            -->
        </div>
    </div>
</div>


<div class="footer">
    <p>
        Copyright © 2017 <a href="http://www.git-share.com">GitShare-分享您的Git项目</a>. All rights reserved.
        <br>
        Powered by <a href="http://www.git-share.com">git-share.com.</a>
    </p>
</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/settings.js"></script>

</body>
</html>